@font-face {
	font-family: 'Gilroy-R';
	src: url('#{$fontPath}/Gilroy-R.eot');
	src: local('☺'), url('#{$fontPath}/Gilroy-R.woff') format('woff'), url('#{$fontPath}/Gilroy-R.ttf') format('truetype'), url('#{$fontPath}/Gilroy-R.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-M';
	src: url('#{$fontPath}/Gilroy-M.eot');
	src: local('☺'), url('#{$fontPath}/Gilroy-M.woff') format('woff'), url('#{$fontPath}/Gilroy-M.ttf') format('truetype'), url('#{$fontPath}/Gilroy-M.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-L';
	src: url('#{$fontPath}/Gilroy-L.eot');
	src: local('☺'), url('#{$fontPath}/Gilroy-L.woff') format('woff'), url('#{$fontPath}/Gilroy-L.ttf') format('truetype'), url('#{$fontPath}/Gilroy-L.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-EB';
	src: url('#{$fontPath}/Gilroy-EB.eot');
	src: local('☺'), url('#{$fontPath}/Gilroy-EB.woff') format('woff'), url('#{$fontPath}/Gilroy-EB.ttf') format('truetype'), url('#{$fontPath}/Gilroy-EB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}