$imgPath: "../images";
$fontPath: "../fonts";
$transition:all 0.2s ease-out;
$transitionM:all 0.5s linear;
$transitionL:all 0.8s linear;

$dark-grey:#3e3e3f;
$grey:#787878;
$light-grey:#f9f9f9;
$main-red:#d81720;
$main-yellow:#ffdb00;
$header-nav:#b2b2b2;
$white:#fff;