@mixin bp( $point ) {
  @if $point == l {
    @media screen and (max-width:991px) { @content; }
  }
  @else if $point == m {
    @media screen and (max-width:767px) { @content; }
  }
  @else if $point == minM {
    @media screen and (min-width:768px) { @content; }
  }
  @else if $point == s {
    @media screen and (max-width:576px) { @content; }
  }
}
@mixin flex(){
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}